/target
*.local.*

# macOS :(
.DS_Store

# Certificates and stuff
/certificates/*
!/certificates/generate_certificate.sh

# Identities and stuff
/config/*/*.key
/config/*/*.pub

# Data storage
/data/

# Flamegraphs
/perf.data*
/flamegraph*.svg
/cargo-flamegraph.stacks
