/target
*.local.*

# macOS :(
.DS_Store

# Certificates and stuff
/certificates/*
!/certificates/generate_certificate.sh

# Identities and stuff
/config/*/*.key
/config/*/*.pub

/config/subscription_config.toml

# Data storage
/data/

# Block storage
/blocks/

# Flamegraphs
/perf.data*
/flamegraph*.svg
/cargo-flamegraph.stacks
